<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Next gêne</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/helloworld/">Hello world</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Next gêne</h2>
    <cite>Bienvenue sur le site qui va révolutionner la toile</cite>
    <section>
        Wow
    </section>
</main>
<footer>
    <a href="">Conditions générales</a>
    <a href="">Contact</a>
    <div class="sponsors">
        <h3>Nos (faux) sponsors</h3>
        <ul>
            <li><img src="https://images.seeklogo.com/logo-png/30/2/github-logo-png_seeklogo-304612.png" alt="Github"></li>
            <li><img src="https://www.citypng.com/public/uploads/preview/hd-black-red-outline-youtube-yt-logo-symbol-sign-icon-png-701751695120608h42kv7jlu8.png" alt="Github"></li>

        </ul>
    </div>

</footer>
</body>
</html>